
body {
    background-color: #f5f5f5;
}

.d-animation.ng-enter,
.d-animation.ng-leave {
	-webkit-transition: opacity ease-in-out 0.5s;
	-moz-transition: opacity ease-in-out 0.5s;
	-ms-transition: opacity ease-in-out 0.5s;
	-o-transition: opacity ease-in-out 0.5s;
	transition: opacity ease-in-out 0.5s;
}
.d-animation.ng-enter,
.d-animation.ng-leave.ng-leave-active {
	opacity: 0;
}
.d-animation.ng-leave,
.d-animation.ng-enter.ng-enter-active {
	opacity: 1;
}

.d-transition {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.d-view {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.d-view-open {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 300px;
	right: 0;
}

.d-view-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
}

.d-scroll-view {
	overflow: scroll;
}

.d-fab {
	min-width: 56px !important;
	min-height: 56px !important;
}

.d-hide {
	display: none;
}

.d-hidden {
	visibility: hidden;
}

.d-margin-5-hor {
	margin-top: 5px;
	margin-bottom: 5px;
}

.d-padding-5-hor {
	padding-left: 5px;
	padding-right: 5px;
}

.d-margin-auto-ver {
	margin-top: auto;
	margin-bottom: auto;
}

.d-blue {
	color: blue;
}

/* OVERRIDE START */
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
     width:40em !important;
}
/* OVERRIDE END */