
body {
    background-color: #f5f5f5;
}

.d-view {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.d-scroll-view {
	height: 100%;
	margin: 0;
	overflow: scroll;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.d-padding-5-hor {
	padding-left: 5px;
	padding-right: 5px;
}

.d-margin-auto-ver {
	margin-top: auto;
	margin-bottom: auto;
}

.d-blue {
	color: blue;
}

.vertical-divider {
	width: 5px;
	background-color: black;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
     width:40em !important;
}