<md-content class="md-padding">

	<section class="md-padding" layout="row" layout-align="none center">
		<md-button class="md-fab md-primary" aria-label="Home" ng-click="goState()">
            <ng-md-icon icon="home"></ng-md-icon>
        </md-button>
        <h3 class="d-margin-auto-ver" layout="row" layout-wrap><span class="d-padding-5-hor">{{appName}}</span><span class="d-padding-5-hor">- Details Page</span></h3>
	</section>
	
	<md-divider></md-divider>

	<section layout="row" layout-wrap>
		<md-button class="md-primary" ng-click="goState('main')">MAIN</md-button>
	</section>
	
</md-content>