<md-content class="d-view-menu md-padding" layout="column">

	<section class="md-padding" layout="row" layout-align="none center">
		<md-button class="md-fab md-primary d-fab" aria-label="Home" ng-click="toggleMenu()">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
	</section>
	
	<md-divider></md-divider>
	
	<section layout="row" layout-align="none center" layout-wrap>
		<div class="md-primary md-button" style="pointer-events: none;">Suodattimet</div>
	</section>
	
	<md-divider></md-divider>
	
	<div style="height: 1px;">
		<md-progress-linear ng-show="ctrl.loadingCategories" md-mode="indeterminate"></md-progress-linear>
	</div>
	
	<section class="md-padding" layout="column" layout-align="none none" layout-wrap>
		<md-autocomplete
			class="d-margin-5-ver"
			md-menu-class="menu-class"
			ng-disabled="false"
			md-no-cache="false"
			md-selected-item="ctrl.selectedCategory"
			md-search-text="searchText"
			md-selected-item-change="ctrl.categoryChanged(cat)"
			md-items="cat in ctrl.querySearch(searchText)"
			md-item-text="cat.name"
			md-min-length="0"
			placeholder="Valitse kategoria">
        	<md-item-template>
          		<span md-highlight-text="searchText" md-highlight-flags="^i">{{cat.name}}</span>
        	</md-item-template>
        	<md-not-found>Ei osumia "{{cat.name}}"</md-not-found>
      	</md-autocomplete>
      	<md-autocomplete
      		class="d-margin-5-ver"
			ng-disabled="false"
			md-no-cache="false"
			md-selected-item="ctrl.selectedCategory2"
			md-search-text="searchText2"
			md-selected-item-change="ctrl.getIssuesByCategory(cat2)"
			md-items="cat2 in ctrl.querySearch(searchText2)"
			md-item-text="cat2.name"
			md-min-length="0"
			placeholder="Valitse kategoria">
        	<md-item-template>
          		<span md-highlight-text="searchText2" md-highlight-flags="^i">{{cat2.name}}</span>
        	</md-item-template>
        	<md-not-found>Ei osumia "{{cat2.name}}"</md-not-found>
      	</md-autocomplete>
	</section>
	
	<md-divider></md-divider>
	
	<section class="md-padding">
      	<div layout="row" layout-align="space-between center">
        	<span>Limit</span>
        	<md-select ng-model="ctrl.limit" placeholder="Valitse" class="md-no-underline d-margin-0" ng-change="ctrl.setLimit(ctrl.limit)">
          		<md-option value="10">10</md-option>
          		<md-option value="50">50</md-option>
          		<md-option value="100">100</md-option>
          		<md-option value="500">500</md-option>
          		<md-option value="1000">1000</md-option>
        	</md-select>
      	</div>
	</section>

	<md-divider></md-divider>
	
</md-content>