<md-content class="md-padding" data-ng-class="{'d-view-open': menuOpen, 'd-view': !menuOpen}" layout="column">

	<section class="md-padding" layout="row" layout-align="none center">
		<md-button ng-if="!menuOpen" class="md-fab md-primary d-fab " aria-label="Home" ng-click="toggleMenu()">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
		<md-button class="md-fab md-primary d-fab" aria-label="Home" ng-click="">
            <ng-md-icon icon="home"></ng-md-icon>
        </md-button>
		<h3 class="d-margin-auto-ver" layout="row" layout-wrap><span class="d-padding-5-hor">{{appName}}</span><span class="d-padding-5-hor">- Main Page</span></h3>
	</section>
	
	<md-divider></md-divider>
	
	<section layout="row" layout-align="none center" layout-wrap>
		<md-button class="md-primary" ng-click="goState('details')">DETAILS</md-button>
		<md-button class="md-primary" ng-click="ctrl.getIssues()" >Hae asiat</md-button>
		
		<div flex></div>
		
		<md-button class="md-icon-button md-primary" aria-label="Login">
        	<ng-md-icon icon="login"></ng-md-icon>
      	</md-button>
      	<md-button class="md-icon-button md-primary" aria-label="Apple">
        	<ng-md-icon icon="apple"></ng-md-icon>
      	</md-button>
      	<md-button class="md-icon-button md-primary" aria-label="Info">
        	<ng-md-icon icon="info"></ng-md-icon>
      	</md-button>
	</section>

	<md-divider></md-divider>
	
	<div style="height: 5px;">
		<md-progress-linear ng-if="ctrl.loadingIssues" md-mode="indeterminate"></md-progress-linear>
	</div>
	
	<div flex class="d-scroll-view">
		<section class="md-padding">
		
			<md-list>
				<md-list-item ng-repeat="issue in ctrl.issues" ng-click="ctrl.openIssue(issue)">
					<div class="md-list-item-text">
            			<h3>{{issue.top_category_name}}</h3>
            			<h4>{{issue.category_name}}</h4>
            			<p>{{issue.subject}}<br>Viimeksi muokattu {{issue.last_modified_time | date : format : timezone}}</p>
					</div>
					<md-divider></md-divider>
				</md-list-item>
				<md-subheader layout="row" class="md-no-sticky">
					<h4>{{ctrl.footerText}}</h4>
					<md-button ng-if="ctrl.issuesMeta.previous" class="md-primary md-raised" ng-click="ctrl.getNextIssues(ctrl.selectedCategory, ctrl.issuesMeta)">
						Hae edelliset
					</md-button>
					<md-button ng-if="ctrl.issuesMeta.next" class="md-primary md-raised" ng-click="ctrl.getNextIssues(ctrl.selectedCategory, ctrl.issuesMeta)">
						Hae seuraavat
					</md-button>
				</md-subheader>
			</md-list>
		</section>
	</div>
	
</md-content>