<md-content class="md-padding">

	<section class="md-padding" layout="row" layout-align="none center">
		<md-button class="md-fab md-primary" aria-label="Home" ng-click="">
            <ng-md-icon icon="home"></ng-md-icon>
        </md-button>
		<h3 class="d-margin-auto-ver" layout="row" layout-wrap><span class="d-padding-5-hor">{{appName}}</span><span class="d-padding-5-hor">- Main Page</span></h3>
	</section>
	
	<md-divider></md-divider>
	
	<section layout="row" layout-align="none center" layout-wrap>
		<md-button class="md-primary" ng-click="goState('details')">DETAILS</md-button>
		<md-button class="md-primary" ng-click="ctrl.getIssues(true)" >REFRESH</md-button>
		<div flex></div>
		<md-button class="md-icon-button md-primary" aria-label="Login">
        	<ng-md-icon icon="login"></ng-md-icon>
      	</md-button>
      	<md-button class="md-icon-button md-primary" aria-label="Apple">
        	<ng-md-icon icon="apple"></ng-md-icon>
      	</md-button>
      	<md-button class="md-icon-button md-primary" aria-label="Info">
        	<ng-md-icon icon="info"></ng-md-icon>
      	</md-button>
	</section>
	
	<md-divider></md-divider>
	
	<div style="height: 5px;">
		<md-progress-linear ng-if="ctrl.loading" md-mode="indeterminate"></md-progress-linear>
	</div>

	<section class="md-padding">
		
		<md-list flex>
			<md-list-item ng-repeat="obj in ctrl.objects" ng-click="ctrl.getIssue(obj)">
				<div class="md-list-item-text" layout="column">
            		<h3>{{obj.top_category_name}}</h3>
            		<h4>{{obj.category_name}}</h4>
            		<p>{{obj.subject}}</p>
         		 </div>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>
	</section>
	
</md-content>