<md-content layout="column" layout-fill ng-cloak>
	<md-toolbar class="" layout="row" layout-align="none center">
		<md-button class="md-icon-button" aria-label="Home" ng-click="c.navItemClicked('home')">
			<ng-md-icon icon="home"></ng-md-icon>
		</md-button>
		<img class="s-vkn" src="img/vaakuna.jpg" alt="">
		<md-truncate class="md-padding md-headline">{{c.appTitle}}</md-truncate>
		<div flex></div>
		<md-button class="md-icon-button" aria-label="Info" ng-click="c.openInfo()">
			<ng-md-icon icon="info"></ng-md-icon>
		</md-button>
	</md-toolbar>
	
	<md-nav-bar md-selected-nav-item="c.currentNavItem" aria-label="Valitse" >
		<md-nav-item md-nav-click="c.navItemClicked('home')" name="home">Home</md-nav-item>
		<md-nav-item md-nav-click="c.navItemClicked('home.meetings')" name="home.meetings">Meetings</md-nav-item>
	</md-nav-bar>
	<ui-view flex></ui-view>
</md-content>